.image {
  width: 130px;
  height: 130px;
  float: left;
  border-radius: 5px;
  margin-bottom: 8px;
  object-fit: cover;
  overflow-clip-margin: unset;
}

.newsContainer {
  border-radius: 5px;
  border: 1px solid var(--mantine-color-dark-4);
}

.newsContainer:hover {
  background-color: rgba(0, 0, 0, 0.092);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.353);
  border: 1px solid var(--mantine-color-dark-5);
}

.newsContainer:not(:first-child) {
  margin-top: 1rem;
}

.readMore {
  color: var(--mantine-color-orange-4) !important;
  border: 1px solid transparent;
}

.readMore:hover {
  color: var(--mantine-color-orange-5) !important;
  /* border: 1px solid var(--mantine-color-orange-6); */
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.353); */
  cursor: pointer;
  /* border-radius: 5px; */
}
